@charset "UTF-8";


body{margin:0;
    background-color: #000;
    font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
  }
  #loader{
    width: 80px;
    height: 80px;
    display: none;
    position: fixed;
    _position: absolute;     /* IE6対策 */
    top: 50%;
    left: 50%;
    margin-top: -40px;       /* heightの半分のマイナス値 */
    margin-left: -40px;      /* widthの半分のマイナス値 */
    z-index: 10;             /* #fadeより多い値を入れて下さい */
}
#fade{
    width: 100%;
    height: 100%;
    display: none;
    background-color: #000;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;              /* #loaderより少ない値を入れて下さい */
}
  .wrapper{min-height: auto;
    background: url("../img/background.gif") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: relative;}
  .content{min-height: 940px;
    background: url("../img/main-background-character.png") no-repeat center center;
    background-size: cover;

    overflow: hidden;
    position: relative;}
  .box{width: auto; margin:0 auto; position: relative;}
    .box:After{content:""; display: block; clear: both;}
.boxA{width: 500px; height: auto;float: left;}
/*ロゴ*/
.boxA-1{text-align: center; margin: 10px; height: 150px;}
.logo{margin-left: 100px; padding-top: 45px;}
/*ナビゲーション*/
.boxA-2{margin-top: 75px; margin-left: 100px;}
.menu ul{margin: 0; padding: 0; list-style: none; height: 590px;}
.menu li{width: 250px; margin-top: 40px; opacity: 0.9; text-align: left;}
.menu img{width: auto; height: 45px;}
/*保存禁止　スマホ*/
img{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-touch-callout:none;
  -moz-user-select:none;
  touch-callout:none;
  user-select:none;
}
/*キャッチコピー*/
.cathi{position: absolute;top:50px; right:0; height: 90%; width: auto;}
/*download*/
.download-button{width: 100%;clear: both; z-index: 5;}
.download-button:After{content:""; display: block; clear: both;}
.ap{
  float: left;width: 68%; text-align: right;
  padding-right: 2%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.go{float: left;width: 28%; text-align: left;
  padding-left: 2%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

.yo{
  display: inline-block;
  position: relative;
  float: right;width: 80%; text-align: right;
  margin-right: 10%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;

}


.apimg{width: auto; height: 70px;}
  .goimg{width: auto; height: 70px;}
  /*ふったー*/
.footer{
background-color: #000;
color: #fff;
font-size: 0.70em;
line-height: 1em;
padding: 1em 0;
justify-content: space-around;
width: 100%;
}
.footer:After{content:""; display: block; clear: both;}
.link{float: left; width: 50%;text-align: center;
  padding: 5px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
.copyright{float: left; width: 50%; text-align: center;
  padding: 5px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;}
.footer a{
  color: #fff;
}

.mv1{
  background: url("../img/back.png") no-repeat; background-size: 100%;
  position:relative;
  width:auto;
  padding-top:85%;
  margin: auto;
  margin-top: 5%;
}
.mv1 iframe{
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 85%;
  height: 57%;
}



.mv2{
  background: url("../img/back.png") no-repeat; background-size: 100%;
  position:relative;
  width:80%;
  padding-top:67%;
  margin: auto;
  margin-top: 5%;
}
.mv2 iframe{
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 85%;
  height: 57%;
}

.contmoji{display: none;}
.contmoji2{display: none;}

.HQ{width: 100%; height:auto;}
.HQ:After{ content:""; display: block; clear: both;}

.Os{width: 80%; height: auto; background: url("../img/back2.jpg");background-size:cover;
  font-size: 12px;
border: solid 1px #fff;
margin: auto;
padding: 5%;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
padding-bottom: 2.5px;
margin-bottom: 10px;
}
.Os2{width: 100%; height: auto;}

.no1{color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;}
.no1 a{ color: #fff;text-decoration: none;}
.no1 a:hover{opacity: 0.5;}
.no2{text-align: right;}

hr {
  height: 10px;
background-image: linear-gradient(
  90deg,
  hsla(0, 0%, 50%, 1),
  hsla(0, 0%, 50%, 1) 33.33%,
  hsla(0, 0%, 50%, 0) 33.33%,
  hsla(0, 0%, 50%, 0) 100%);
background-size: 3px 100%;
border: none;
width: 100%;
}

.Tw{width: 80%; height: auto;
background: url('../img/back2.jpg');background-size:cover;
border: solid 1px #fff;
margin: auto;
margin-top: 0px;
padding: 5%;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
margin-bottom: 40px;
}
.Tw2{height: 300px; margin: 0 auto; text-align: center;}
.twitter-timeline{height: 300px;}

/*アニメーション背景*/
.content{opacity:0;}
.content{
  -webkit-animation: example 0.5s ease 0.5s 1 forwards;
  animation: example 0.5s ease 0.5s 1 forwards;
}
@-webkit-keyframes example {
  100% {
    opacity: 1;
  }
}
@keyframes example {
  100% {
    opacity: 1;
  }
}
/*アニメーションきゃっちこぴー*/
.cathi{
  opacity: 0;
  /*-webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);*/
}

.cathi{
  -webkit-animation: example 1s ease 1s  forwards;
  animation: example 1s ease 1s  forwards;
}
/*aver*/
.cathi2{
  opacity: 0;
  /*-webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);*/
}

.cathi2{
  -webkit-animation: example 1s ease 1s  forwards;
  animation: example 1s ease 1s  forwards;
}

@keyframes example {
  100% {
    opacity: 1;
    /*-webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);*/
  }
}



/*maxは以下*/

@media(max-width:530px)
{
  .footer{font-size: 10px;
  line-height: 2.5em;}
  .apimg{width: auto; height: 50px;}
    .goimg{width: auto; height: 50px;}
}

  @media(max-width:960px)
  {
.content{background: url("../img/mainSP2.png") no-repeat; background-size: 100%; overflow: hidden;}
.cathi{display: none;}
.cathi2{height: auto; width: 15%; z-index: 0;margin-top: 70px;}
.boxA{width:100%; height:auto;background-color: #000; height:auto;}
.boxA:After{content:""; display: block; clear: both;}
.boxA-1{height:auto; margin: 0; float: left; width: 100%; text-align: left; padding: 5px;}
.logo{height: auto; width:200px; padding: 5px 5px 5px 5px; margin-top: 5px;margin-left: 0px;}
.boxA-2{height: auto; float: left; width: 100%; margin: 0;}
.boxA-2:After{content:""; display: block; clear: both;}
.link{float: left; width: 100%;  padding: 2em;}
.copyright{float: left; width: 100%;}

/*近日リリース予定*/
.yo{width: 100%; height: auto;text-align: center;
  padding: 2%;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background-color: rgba(0,0,0,0.2);
  display: flex;
justify-content: center;
align-items: center;
margin-right: 0px;
}
.yo img{width: 50%; height: auto;}



header{
    width: 100%;
    position:fixed;
    top:0;
    z-index: 999;
    background-color: #000;
    }
.menu{
position: absolute;
width: 100%;
height: auto;
margin: 0px;
background-color: #000;
z-index: 1;
}
.menu ul{width: 100%; height: auto;}
.m1{display: none;}
.m2{display: none;}
.m3{display: none;}
.m4{display: none;}
.m5{display: none;}
.m6{display: none;}
.m7{display: none;}
.mv1{display: none;}
.menu li{width: 100%; margin:0px; text-align: center;}
.menu li a{
  display: block;
	padding: 10px 10px;
	color: #fff;
	font-size: 14px;
	text-decoration: none;}
  .menu li a:active{
  background-color: #c9031f; color:#000;}
  .mA{}
    .download-button{width: 100%; margin-top: 38%;}
    .download-button:After{content:""; display: block; clear: both;}
    .ap{float: left;width: 50%;}
    .go{float: left;width: 50%;}
    .contmoji{ display: block;padding: 0px; margin-left: 0px; width: 100%; height: auto; text-align: center;}
  .contmoji img{ padding: 2px; width:auto; height:50px;}
  .contmoji2{ display: block;padding: 0px; margin-left: 0px; width: 100%; height: auto; text-align: center;}
.contmoji2 img{ padding: 2px; width:auto; height:50px;}

/* トグルボタン */
#menubtn	{padding: 6px 12px;
	border: solid 1px #fff;
	background-color: #000;
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer}

#menubtn:hover	{opacity: 0.8;}

#menubtn:focus	{outline: none}

#menubtn i	{color: #fff;
	font-size: 18px}

#menubtn span	{display: inline-block;
	text-indent: -9999px}

/* ナビゲーションメニュー（縦並び） */
.menu	{display: none}
  }


  @media(min-width:961px)
  {
    .mA{display: none;}
    .mB{display: none;}
    .mC{display: none;}
    .mD{display: none;}
    .mE{display: none;}
    .mF{display: none;}
        .mG{display: none;}
    .cathi2{display: none;}

    .mv2{display: none;}
    .HQ{display: none;}

    /* トグルボタン */
    #menubtn	{display: none}

    /* ナビゲーション */
    #menu	{display: block !important}
  }
/*minは以上*/
@media(min-width:1920px)
{
    .box{width: 1920px; margin-left: auto; margin-right: auto;}
}
